<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="none" presetve-order='true'>
	<test name="Test1">
		<classes>
			<class name="pages.amazonHome" />
			<class name="pages.amazonLogin" />
			<class name="pages.productsPage" />
			<class name="test.amazonHomeTest" />
		</classes>
	</test> <!-- Test1 -->
</suite> <!-- Suite1 -->
